 <toaster-container toaster-options="{'time-out': 500, 'close-button':true, 'position-class': 'toast-top-center'}"></toaster-container>
 <div class="col-md-12 col-sm-12 col-xs-12">
 	<div class="x_panel">
 		<div class="x_title">
 			<h2>Buscar Cliente</h2>

 			<div class="clearfix"></div>
 		</div>
 		<div class="x_content">
 			<br>

 			<div class="col-md-12 col-sm-12 col-xs-12">

 				<form class="form-horizontal form-label-left" ng-submit="filtraCliente(form.$valid)" ui-event="{reset: 'reset(formulario)'}" novalidate class="form-horizontal form-label-left ng-pristine ng-valid">
 					<div class="row">
 						<div class="form-group">
 							<label>Selecione uma forma de pesquisa</label>
 							<select class="form-control" ng-model="pesquisa" ng-change="limpaCliente()">
 								<option value="" selected="">--- Selecione ---</option>
 								<option value="1">Pesquisar por identificação</option>
 								<option value="2">Pesquisar por CPF/CNPJ</option>
 								<option value="3">Pesquisar por tipo</option>
 								<option value="4">Pesquisar por email</option>
 							</select>
 						</div>
 					</div>
 					<div class="row" ng-if="pesquisa == 1">
 					<!-- ng-class="{ 'has-error' : form.identificacao.$invalid && !form.identificacao.$pristine || !form.identificacao.$valid && submitted}" -->
 						<div class="form-group" >
 							<label>Identificação</label>
 							<select required name="identificacao" ng-model="processos_clientes.identificacao_id" class="form-control" >
 								<option value="">--- Selecione ---</option>
 								<option data-ng-repeat="c in itensIdentificacaoCliente" value="{{c.identificacao_id}}">{{c.identificacao_nome}}</option>
 							</select>
 							<!-- <p ng-show="form.identificacao.$invalid && !form.identificacao.$pristine || !form.identificacao.$valid && submitted" class="help-block">A identificação é obrigatória.</p> -->
 						</div>
 					</div>
 					<!-- ng-class="{ 'has-error' : form.cgc.$invalid && !form.cgc.$pristine || !form.cgc.$valid && submitted}" -->
 					<div class="row" ng-show="pesquisa == 2">
 						<div class="form-group" >
 							<label>CPF (Somente números)</label>
 							<input ng-model="processos_clientes.cliente_cgc" name="cgc" class="form-control col-md-7 col-xs-12">
 							<!-- <p ng-show="form.cgc.$invalid && !form.cgc.$pristine || !form.cgc.$valid && submitted" class="help-block">O CPF/CNPJ é obrigatório.</p> -->
 						</div>
 					</div>
 					<!-- ng-class="{ 'has-error' : form.tipo.$invalid && !form.tipo.$pristine || !form.tipo.$valid && submitted}" -->
 					<div class="row" ng-show="pesquisa == 3">
 						<div class="form-group" >
 							<label >Tipo </label>
 							<select ng-model="processos_clientes.cliente_tipo" name="tipo" required class="form-control" >
						<option value="">--- Selecione ---</option>
   								<option data-ng-repeat="t in tipos" value="{{t.value}}" ng-selected="processos_clientes.cliente_tipo == t.value">{{t.label}}</option>
                        </select>
 							<!-- <p ng-show="form.tipo.$invalid && !form.tipo.$pristine || !form.tipo.$valid && submitted" class="help-block">O tipo é obrigatório.</p> -->
 						</div>
 					</div>
 					<!-- ng-class="{ 'has-error' : form.email.$invalid && !form.email.$pristine || !form.email.$valid && submitted}" -->	
 					<div class="row" ng-show="pesquisa == 4">
 						<div class="form-group" >
 							<label>Email</label>					
 							<input name="email" ng-model="processos_clientes.cliente_email" class="form-control"  type="text">
 							<!-- <p ng-show="form.email.$invalid && !form.email.$pristine || !form.email.$valid && submitted" class="help-block">O email é obrigatório.</p> -->
 						</div>
 					</div>		
 					<div class="row">
 						<div class="form-group">
 							<label></label>
 							<button class="btn btn-success pull-right" ng-click="getCliente()" type="button">Mostrar todos</button>
 							<button class="btn btn-primary pull-right" type="submit">Buscar</button> 							
 						</div>
 					</div>
 				</div>
 			</form>
 		</div>

 		<div class="col-md-12" ng-show="tabelaProcessoClientes.length">
 			<table class="table table-bordered table-striped">
 				<thead>
 					<tr>
 						<th>Nome</th>
 						<th>Tipo</th>
 						<th>Identificação</th>
 						<th>CPF/CNPJ</th>
 						<th>Excluir</th>
 					</tr>
 				</thead>

 				<tbody >
 					<tr ng-repeat="cliente in tabelaProcessoClientes.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
 						<td nowrap="nowrap"><a ui-sref="cliente({cliente: cliente.cliente_id, param: '0'})">{{cliente.cliente_nome}}</a></td>
 						<td ng-if="cliente.cliente_tipo == 'E'""><a ui-sref="cliente({cliente: cliente.cliente_id, param : '0'})" >Empresa</a></td>
 						<td ng-if="cliente.cliente_tipo == 'P'"><a ui-sref="cliente({cliente: cliente.cliente_id, param : '0'})" >Pessoa</a></td>
 						<td><a ui-sref="cliente({cliente: cliente.cliente_id, param : '0'})">{{cliente.identificacao_nome}}</a></td>
 						<td><a ui-sref="cliente({cliente: cliente.cliente_id, param : '0'})">{{cliente.cliente_cgc}}</a></td>
 						<td></td>
 					</tr>
 				</tbody>
 			</table>
 			<div class="text-center"  ng-show="tabelaProcessoClientes.length > itemsPerPage">
 				<pagination first-text="&laquo;" last-text="&raquo;" boundary-links="true" max-size="maxSize" rotate="false" total-items="totalItems" ng-model="currentPage" previous-text="Anterior" next-text="Próximo" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
 			</div>
 		</div>
 	</div>
 </div>
</div>