
<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="panel panel-default">
		<div class="panel-heading"><i class="icon-list-alt"></i> Artigos</div>
		<div class="panel-body">

					<div class="form-group">
						<label for="name">Título</label>
						<input type="text" required="" ng-model="noticias.not_titulo" class="form-control" >
					</div>
					<div class="form-group">
						<label for="name">Chamada</label>
						<input type="text" required="" ng-model="noticias.not_chamada" class="form-control" >
					</div>
					<div class="form-group">
						<label for="address">Conteúdo</label>
						<textarea froala="froalaOptions" ng-model="noticias.not_texto"></textarea>
					</div>
					<div class="form-group">
						<label for="address">Publicar</label>
						<select ng-model="noticias.not_publicar" class="form-control">
							<option value="" selected="">---- Selecione ----</option>
							<option value="1">Sim</option>
							<option value="0">Não</option>
						</select>
					</div>
					<div class="form-group">
						<label></label>
						<button type="button" ng-click="salvaNoticia()" class="btn btn-large btn-primary pull-right">Salvar</button>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>